{% set title = "About Us" %}
{% set description = "About Us page" %}
{% set keywords = "about, us, about us" %}
{% set active = "About" %}
{% extends "base.html" %}

{% block content %}
    {% for project in projects %}
        <div class="row">
            <div class="col-md-12">
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <p><a href="/projects/{{ project.url }}">Read more</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}