<!DOCTYPE html>
<html lang="en">

<head class="">
    <script>
        if (localStorage.getItem("theme") === "dark") {
            document.documentElement.classList.add("dark");
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    {% include 'includes.html' %}
</head>
<body class="flex flex-col min-h-screen bg-white text-zinc-800 dark:bg-zinc-950 dark:text-zinc-100">
    {% include 'header.html' %}
    {# padding for floating nav#}
    <div class="mx-2 mt-[6rem] md:mt-[7.5rem]">
        {% block content %}{% endblock %}
    </div>

    {# move the footer to the bottom #}
    <div class="mt-2 flex flex-grow">
    </div>
    
    {% include 'footer.html' %}
</body>
</html>
