<!DOCTYPE html>
<html lang="en">
<head class="dark:bg-gray-800 bg-gray-200">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includes.html' %}
    <title>{{ title }}</title>
</head>
<body class="flex flex-col min-h-screen">
    {% include 'header.html' %}
    {# padding for floating nav#}
    <div class="mt-20 md:mt-28">
        {% block content %}{% endblock %}
    </div>

    {# move the footer to the bottom #}
    <div class="mt-2 flex flex-grow">
    </div>
    
    {% include 'footer.html' %}
</body>
</html>
