{% extends "base.html" %}

{% block content %}
    <div class="grid-cols-1 md:grid-cols-4 gap-2 border rounded-xl shadow-sm divide-y overflow-hidden sm:flex sm:divide-y-0 sm:divide-x dark:border-gray-700 dark:shadow-slate-700/[.7] dark:divide-gray-600 m-4">
        <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] max-w-3xl">
            <div class="p-4 md:p-5">
                <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                    Card title
                </h3>
                <p class="mt-2 text-gray-800 dark:text-gray-400">
                    With supporting text below as a natural lead-in to additional content.
                </p>
                <a class="mt-5 inline-flex items-center gap-2 text-sm font-medium text-blue-500 hover:text-blue-700" href="#">
                    Card link
                    <svg class="w-2.5 h-auto" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    </svg> 
                </a>
            </div>
            <div class="py-3 px-4 md:py-4 md:px-5 bg-gray-100 border-t rounded-b-xl dark:bg-gray-800 dark:border-gray-700">
                <p class="mt-1 text-sm text-gray-500 dark:text-gray-500">
                    Last updated 5 mins ago
                </p>
            </div>
        </div>


    </div>

    <div class="p-40 space-x-5 bg-amber-100">
    <i class="fa fa-fan text-7xl text-green-500"></i>
    <i class="fa-solid fa-user text-[99px] text-indigo-600 hover:text-amber-400"></i>
    <i class="fa-solid fa-beat fa-search text-[11rem] text-rose-600 opacity-60 hover:opacity-100"></i>
    </div>
{% endblock %}