<!-- Footer -->
<footer class="dark:bg-gray-800 bg-white py-6 px-6">
    <div class="container mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex justify-between items-center">
            <div class="text-center md:text-left text-gray-600 dark:text-gray-300">
                <h5 class="text-lg font-semibold">RoboticsBrno</h5>
                <p class="py-2">© {{ now }} All rights reserved.</p>
            </div>
            <div class="space-x-4">
                <a href="#" class="dark:hover:text-gray-300 hover:text-gray-800 text-gray-800 px-3 py-2 rounded-md text-sm font-medium">Terms of Service</a>
                <a href="#" class="dark:hover:text-gray-300 hover:text-gray-800 text-gray-800 px-3 py-2 rounded-md text-sm font-medium">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>