{% set title = "{{ project.title }}" %}
{% set description = "{{ project.description }}" %}
{% set keywords = "projects, portfolio" %}
{% set active = "projects-detail" %}
{% extends "base.html" %}

{% block content %}

<div class="col-md-12">
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
    <p><a href="/projects">Back to Projects</a></p>
</div>

{% for repo in project.related_repos %}
<div class="col-md-12">
    <h2>{{ repo.name }}</h2>
    <p>{{ repo.description }}</p>
    <p><a href="{{ repo.url }}" target="_blank">View on Github</a></p>
</div>
{#{% if repo.has_readme %}#}
{#<div class="col-md-12">#}
{#    <h3>Readme</h3>#}
{#    <div class="readme">#}
{#        {{ repo.readme }}#}
{#    </div>#}
{#</div>#}
{#{% endif %}#}

{% endfor %}



{% endblock %}
