{% set title = "Projekty" %}
{% set description = "Seznam našich projektů" %}
{% set keywords = "projekty" %}
{% set active = "Projekty" %}
{% extends "base.html" %}

{% block content %}

<div class="mt-2 mb-4 grid grid-cols-1 md:grid-cols-3 gap-2">
  {% for project in projects %}
  <!-- Project Card - {{project.name}} -->
  <a class="dark:bg-zinc-900 flex flex-col bg-white p-4 rounded-lg shadow-md justify-between w-full min-w-0 h-full"
     href="/project/{{ project.url }}/">
    {% if project.image %}
      <img src="{{ project.image }}" alt="{{ project.name }}"
           class="mb-3 w-full h-40 object-cover rounded-lg border dark:border-zinc-700 border-zinc-200">
    {% endif %}
    <div class="flex flex-col h-full w-full flex-grow">
      <h2 class="mb-1 dark:text-white text-xl font-bold text-zinc-800">{{ project.name }}</h2>
      {% if project.description %}
        <p class="mb-2 dark:text-zinc-300 text-zinc-800">{{ project.description }}</p>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
