{% set title = "Projects" %}
{% set description = "A list of our projects" %}
{% set keywords = "projects, portfoli" %}
{% set active = "projects" %}
{% extends "base.html" %}

{% block content %}
<div class="mx-2 grid grid-cols-1 md:grid-cols-3 gap-2">
        {% for project in projects %}
        <!-- Project Card - {{project.name}} -->
        <a class="mx-auto dark:bg-gray-800 flex flex-col bg-white p-4 rounded-lg shadow-md justify-between w-full min-w-0 max-w-xl h-full" href="/projects/{{ project.url }}/">
            <div class="flex flex-col h-full w-full flex-grow">
                {# <div class="mx-auto p-4 dark:bg-gray-800 flex flex-col bg-white rounded-lg shadow-md max-w-sm"> #}
                <h2 class="mb-1 dark:text-white text-xl font-bold text-gray-800">{{ project.name }}</h2>
                <p class="mb-2 dark:text-gray-300 text-gray-600">{{ project.description }}</p>

                {# </div> #}    
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}